* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*公共类*/
html,body {
    width:100%;
    height: 100%;;
}
.fl {
    float: left
}
.fr {
    float: right
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.text-ov {
	overflow:hidden; 
	text-overflow:ellipsis;
	 white-space: nowrap;  /*超出不换行,超出部分... */
}
.text-ov1 {
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;  /* 两行，超出部分...  */
}


.swiper-container,.swiper-container img {
    width:100%;
    height: 1.8rem;
}
/* 主导航 */
html,body {
    background-color: #f6f6f6;
    font-size: 14px;
}
header {
    position: fixed;
    width:100%;
    top:0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
header a {
    position: absolute;
    width:20px;
    height: 20px;
    top:50%;
    left:20px;
    margin-top: -10px;
    background: url('../images/back.png') no-repeat center;
}
header h1 {
    font-size: 16px;
}
.main-nav ul {
    margin:.2rem .1rem 0 .1rem;
}
.main-nav ul,.foot-nav ul {
    font-size:0;
}
.main-nav ul a {
    display: block;
    height: .9rem;
    color: #000;
    padding-top: .65rem;
}
.main-nav li {
    display: inline-block;
    width:33.3%;
    height: .9rem;
    font-size: 14px;
    text-align:center;
    background-color: #fff;
    border-radius: 6px;
    border-right:2px solid #f6f6f6;
    border-bottom:2px solid #f6f6f6;
}
.foot-nav {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 hsla(0,6%,58%,.6);
}
.foot-nav ul li {
    display: inline-block;
    width:33.3%;
    height: 50px;
    font-size: 12px;
    text-align: center;
}
.foot-nav ul a {
    display: block;
    height: 50px;
    padding-top: 30px;
    color: #000;
}
.foot-nav ul .active a {
    color: #e02f31;
}
.wdxq {
    background: url('../images/wdxq.png') no-repeat center 7px;
}
.fw {
    background: url('../images/fw.png') no-repeat center 7px;
}
.wd {
    background: url('../images/wd.png') no-repeat center 7px;
}
.active.wdxq {
    background: url('../images/wdxq1.png') no-repeat center 7px;
}
.active.fw {
    background: url('../images/fw1.png') no-repeat center 7px;
}
.active.wd {
    background: url('../images/wd1.png') no-repeat center 7px;
}


/* 我的小区 */
.wy-message {
    background: url('../images/tz.png') no-repeat center 20px;
}
.js {
    background: url('../images/js.png') no-repeat center 20px;
}
.phone {
    background: url('../images/phone.png') no-repeat center 20px;
}
.kd {
    background: url('../images/kd.png') no-repeat center 20px;
}
.news {
    background: url('../images/news.png') no-repeat center 20px;
}
.zp {
    background: url('../images/zp.png') no-repeat center 20px;
}
.yh {
    background: url('../images/yh.png') no-repeat center 20px;
}
.jy {
    background: url('../images/jy.png') no-repeat center 20px;
}
.bm {
    background: url('../images/fw0.png') no-repeat center 20px;
}

/* 服务 */
.jd {
    background: url('../images/jd.png') no-repeat center 20px;  
}
.qx {
    background: url('../images/qj.png') no-repeat center 20px;
}
.st {
    background: url('../images/gd.png') no-repeat center 20px;
}
.wx {
    background: url('../images/sd.png') no-repeat center 20px;
}
.ps {
    background: url('../images/ps.png') no-repeat center 20px;
}
.internet {
    background: url('../images/internet.png') no-repeat center 20px;
}
.com {
    background: url('../images/dn.png') no-repeat center 20px;
}
.jk {
    background: url('../images/jk.png') no-repeat center 20px;
}
.bj {
    background: url('../images/bj.png') no-repeat center 20px;
}






/* 物业通知 */
.msg {
    margin:70px 10px  0 10px;
    padding-bottom: 100px;    
}
.msg li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.msg li a {
    color: #666;
}
.msg .msg-title {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
}
.msg .keywords {
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.msg .qb {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

/* 物业通知详情 */
.msg-article .title {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
}
.msg-article .time {
    color:#666;
}
.msg-article .content {
    line-height: 30px;
    margin-top: 30px;
}
/* 物业介绍 */
.article {
    height: 100%;
    padding:0 10px;
    background-color: #fff;
    padding-top: 70px;
}
.title {
    font-size: 18px;
    text-align: center;
}
.time {
    text-align: center;
}
.article .content {
    line-height: 30px;
    text-align: justify;
    margin-top: 30px;
}
.article .content img {
    display: block;
    margin:0 auto;
    margin-bottom: 30px;
}
/* 便民电话 */
.list-box {
    margin-top:50px;
}
.list-box>div {
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    color: #e02f31;
}
.phone-list {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}
.phone-list a {
    color: #000;
}
.phone-list td,.phone-list th {
    height:40px;
    border-bottom:1px solid #ddd;
}
.phone-list tr td:first-child {
    background: url('../images/phone1.png') no-repeat 20px center;
}

/* 投诉建议 */
.advice-form {
    padding-top: 70px;
    text-align: center;
}
.advice-form p {
    padding-left: 20px;
    text-align: left;
    height: 35px;
    line-height: 35px;
}
.advice-form textarea {
    width:95%;
    margin:0 auto;
    resize: none;
    padding:10px;
    outline: none;
}
.advice-form div {
    width:70%;
    margin:0 auto;
    height: 40px;
    line-height: 40px;
    background-color: #e02f31;
    color: #fff;
    margin-top: .3rem;
}
.bdzp select {
    position: absolute;
    top:10px;
    right:10px;
    width:80px;
    height: 30px;
    border:none;
    outline:none;
}
/* 本地招聘 */
.zp-main {
    margin-top: 70px;
    height: 35px;
    line-height: 35px;
}
.zp-title span {
    display: inline-block;
    width:35px;
    height: 20px;
    background-color: #e02f31;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.zp-keywords {
    line-height: 25px;
    text-indent: 2em;
}
.zp-main li {
    background-color: #fff;
    padding: 0 10px;
    margin-bottom: 10px;
}
.zp-main a {
    color:#000;
}

/* 本地优惠 */
.yh-main {
    margin-top: 70px;
}
.yh-main li {
    background-color: #fff;
    padding:0 10px 30px 10px;
}
.yh-main li a {
    color: #000;
}
.yh-main li div {
    text-align: justify;
    line-height: 25px;
}
.yh-main li h3 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.yh-main img {
    width:80%;
    display: block;
    margin:0 auto;
}

/* 服务种类选择 */
.check-main {
    padding-top: 50px;
}
.check-main>div {
    height:40px;
    line-height: 40px;
    padding-left: 20px;
    color: #e02f31;
}
/* 服务订单填写 */
.service-form {
    padding-top: 70px;
    margin:0 10px 0 50px;
}
.service-form li {
    height:50px;
    line-height: .5rem;
}
.service-form input {
    width:80%;
    height: 30px;
}
.service-form textarea {
    width:80%;
    resize: none;
}
li.service-bz {
    height: auto;
}
.service-bz span {
    vertical-align: top;
}
.sub,.pay {
    display: block;
    width:70%;
    margin:0 auto;
    height: 40px;
    line-height: 40px;
    background-color: #e02f31;
    color: #fff;
    margin-top: .3rem; 
    text-align: center;
}


/* 确认订单 */
.pay {
    margin-top: 60px;
}
.shade {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}
.confirm {
    position: absolute;
    width:2.5rem;
    height: 1rem;
    top:50%;
    left:50%;
    margin-top: -.5rem;
    margin-left: -1.25rem;
    background-color: #fff;
    border-radius: 10px;
}
.confirm h2 {
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: 18px;
}
.confirm .action {
    height: .4rem;
    font-size: 0;
    margin-top: .1rem;
    border-top: 1px solid #e02f31;
}
.confirm .action button {
    width:50%;
    border:none;
    outline:none;
    height: .4rem;
    color: #e02f31;
    font-size: 16px;
    background-color: transparent;
}
.confirm .action .sure {
    border-right: 1px solid #e02f31;
}

/* 我的 */
.home-main .user {
    padding: 30px 0 30px 50px;
    background-color: #e02f31;
    color: #fff;
}
.home-main .user img{
    width:80px;
    height: 80px;
    border-radius: 50%;
}
.home-main .user>div {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 30px;
}
.items {
    margin-top:30px;
    background-color: #fff;
}
.items1 {
    margin-top: 0;
}
.items li {
    height: .45rem;
    line-height: .45rem;
    border-bottom: 1px solid #ddd;
    padding-left: 40px;
    background: url('../images/right.png') no-repeat 97% center;
}
.items1 li {
    background: url('../images/wx.png') no-repeat 10px center,url('../images/right.png') no-repeat 97% center;
}
.items li a {
    display: block;
    color:#000;
}
.items .order {
    background: url('../images/order.png') no-repeat 10px center,url('../images/right.png') no-repeat 97% center;
}

/* 我的订单 */
.nav {
    margin-top: 70px;
    background-color: #fff;
    height: 42px;
    line-height:40px;
    overflow: hidden;
}
.nav li {
    float: left;
    width:33.3%;
    text-align: center;
}
.nav li.on {
    border-bottom: 2px solid #e02f31;
    color: #e02f31;
}
.orders {
    background-color: #fff;
}
.orders li {
    border-top:1px solid #ddd;
    padding:0 60px 0 10px;
    background: url('../images/right.png') no-repeat 97% center;
}
.orders .order-name, .orders .info{
    height: 30px;
    line-height: 30px;
}


/* 订单详情 */
.order-detail {
    margin-top: 70px;
    background-color: #fff;
}
.order-detail li {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}
.orders a {
    color: #000;
}
.orders .status {
    color: #e02f31;
}